
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Displayital@0;1&family=Oswald:wght@200..700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    color: #222;
    line-height: 1.6;
}

/* Header */
 header {
    background: #262626;
    color: white;
    padding: 20px;
    text-align: center;
 }

 nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 30px;
    margin: 15px;
    margin-right: 0px;
 }

 nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    padding-right: 30px;
 }

h1 {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #e8dfdf;
}

#logo {
    float: left;
    font-size: 220%;
}

/* Hero */

.hero {
    background-image: url("/assets/css/images/pexels-shameel-mukkath-3421394-5175537.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;
}


/* Footer */

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}