
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Displayital@0;1&family=Oswald:wght@200..700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    color: #222;
    line-height: 1.6;
}

h1 {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #555555;
}

#logo {
    float: left;
    font-size: 220%;
}

/* Footer */

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}